extends layout

block content
	h1.text-center OMNIBUS
	h4.text-center Round !{round}
	hr

	h3.text-center Stats
	table.table.table-bordered(style='width: 50%; margin: auto')
		tbody
			tr
				td !{total}
				td Rankings
				td Written
			tr
				td Completed
				td !{completed_rankings}
				td !{completed_written}
			tr
				td Not completed
				td !{not_completed_rankings}
				td !{not_completed_written}

	hr

	h3.text-center People who've not completed
	.text-center
		table.table.table-bordered(style='width: 50%; margin: auto')
			tbody
				each m in nc_rankings_list
					tr
						td !{m}

	br
	br
	p.text-center OMNIBUS is based on the NYQUIST survey tool by Prajwal Manjunath ('15)
