extends layout

block content
	h2.text-center Round !{round}, Team !{team_no}
	h3.text-center Name: !{name}
	
	hr

	p Please complete anonymous peer evaluation for each of your teammates. Giving and receiving feedback is an important part of BVW. This will not be seen by the instructors and does not affect grades.

	p In the spirit of BVW, please be professional, respectful and direct; the intent is to help the person you are writing to.

	form.text-center(role='form', method='post', action='/survey2', id='survey_form2')
		
		- var question_no = 1
		each m in team
			hr
			h2.text-center Dear: !{m}		

			each p in peereval
				hr
				h3.text-center !{p}

				- var i = 1
				while (i <= 3)
					p.text-center [!{i}]
						- var qid = "q_" + question_no + "_" + m
						textarea(name=qid, placeholder='Type your anonymous peer evaluation', cols='100', rows='6')
					- i++
				- question_no++
		hr

		button.btn.btn-primary.text-center(type='submit', value='send') Submit
