extends layout

block content
	h2.text-center Round !{round}, Team !{team_no}
	h3.text-center Name: !{name}
	
	hr

	p Please rank your teammates from most "xyz" to least "xyz"

	p E.g.: "Hours worked": Most hours worked ([1]) to least hours worked ([3] or [4])

	form.text-center(role='form', method='post', action='/survey', id='survey_form')

		- var question_no = 1
		//- var count = 1
		//- var teamsize = team.length-1
		//- var teammates = []
		//while (teamsize > 0)
		//	- teammates.push(count)
		//	- count++
		//	- teamsize--
		//- var level = [1, 2, 3, 4]
		//if (team.length == 4)
		//	- level.pop()

		each q in questions
			hr
			h3.text-center !{question_no}. !{q}
			each t in teammates
				p.text-center [!{t}]
					- var qid = "q_" + question_no
					select(name=qid, form='survey_form')
						each m in team
							- var val = m
							option(value=val) !{m}
			- question_no++

		hr

		button.btn.btn-primary.text-center(type='submit', value='send') Submit
